################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/OpenAiBlazorApp.WebAPI/.vs/OpenAiBlazorApp.WebAPI
/OpenAiBlazorApp.WebAPI/bin/Debug/net9.0
/OpenAiBlazorApp.WebAPI/obj
/OpenAiBlazorApp.WebAPI/.vs/ProjectEvaluation
